# swap
*.swp

# logs
logs
*.log
npm-debug.log*

# dependency directories
node_modules/
build/

# truffle placeholders
contracts/.placeholder
test/.placeholder

# trash files
.DS_Store


js/etc/const\.js

js/etc/metronome\.js

js/eth/const\.js

js/eth/metronome\.js

parity/

js/etc/launched

js/eth/launched

js/eth/const_launch\.js
